.transparentBody {
  background: transparent !important;
}
page-qr-scanner ion-content {
  background: transparent !important;
}
.labelTitle {
  color: #000000;
  font-weight: 600;
  margin-right: 5px;
}
.header {
  background-color: #ffc700;
}
.toolBar {
  --background: #ffc700 !important;
  --color: #000000;

  ion-title {
    padding-left: 0;
  }
}
.yellowText {
  color: #ffc700;
  font-weight: 500;
}
.returnBtn {
  --background: #000000;
  --color: #ffc700;
  --background-hover: #ffc700;
  --color-hover: #000000;
  font-weight: 600;
}
.borrowBtn {
  --background: #ffc700;
  --color: #000000;
  --background-hover: #000000;
  --color-hover: #ffc700;
  font-weight: 600;
}
.viewLink {
  cursor: pointer;
  color: #ffc700;
}
