<ion-header>
  <ion-toolbar>
    <ion-title>Book Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>{{ currentBook.author }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ currentBook.title }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ currentBook.published }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ currentBook.publisher }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ currentBook.pages }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ currentBook.description }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ currentBook.website }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!currentBook.isAvailable">
    <ion-item>
      <ion-text color="danger">
        <h5>Borrowed By:</h5>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label>{{ borrower.firstName }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ borrower.mail }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ borrower.mobile }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-text color="danger">
        <h5>On:</h5>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label>{{ currentBook.borrowdate }}</ion-label>
    </ion-item>
    <!-- <ion-item>
      <ion-text color="danger">
        <h5>Due:</h5>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label>{{ currentBook.borrowdate + 30 }}</ion-label>
    </ion-item> -->
    <ion-button
      color="danger"
      class="ion-float-right ion-margin-top"
      (click)="empPage()"
    >
      Return</ion-button
    >
  </ion-list>

  <ion-list *ngIf="currentBook.isAvailable">
    <ion-item>
      <ion-text color="success">
        <h5>Returned By:</h5>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label>{{ returnee.firstName + ' ' + returnee.lastName }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ returnee.mail }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ returnee.mobile }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-text color="success">
        <h5>On:</h5>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label>{{ currentBook.borrowdate }}</ion-label>
    </ion-item>
    <ion-button color="success" class="ion-float-right" (click)="empPage()">
      Borrow</ion-button
    >
  </ion-list>
</ion-content>
