<ion-header>
  <ion-toolbar class="toolBar">
    <ion-title><strong>Book Details</strong></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <span class="labelTitle">Title:</span>
      <ion-label>{{ currentBook.title }}</ion-label>
    </ion-item>
    <ion-item *ngIf="currentBook.author !== ''">
      <strong class="labelTitle">Author:</strong>
      <ion-label>{{ currentBook.author }}</ion-label>
    </ion-item>
    <!-- <ion-item>
      <ion-label>{{ currentBook.description }}</ion-label>
    </ion-item> -->
    <ion-item *ngIf="currentBook.website !== ''">
      <a class="viewLink" (click)="loadWebsite()"
        >Click here to view on goodreads</a
      >
    </ion-item>
  </ion-list>
  <div *ngIf="currentBook.borrower !== '' || currentBook.returnee !== ''">
    <ion-list *ngIf="!currentBook.isAvailable">
      <ion-item>
        <ion-text color="danger">
          <h5 class="yellowText">Borrowed By:</h5>
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label>{{ borrower.name }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-textarea value="{{ borrower.mail }}"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>{{ borrower.mobile }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Due date: {{ returnDate }}</ion-label>
      </ion-item>
      <ion-button
        class="ion-float-right ion-margin-top returnBtn"
        (click)="empPage()"
      >
        Return</ion-button
      >
    </ion-list>
    <ion-list *ngIf="currentBook.isAvailable">
      <ion-item>
        <ion-text>
          <h5 class="yellowText">Returned By:</h5>
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label>{{ returnee.name }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-textarea value="{{ returnee.mail }}"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>{{ returnee.mobile }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Returned on: {{ formattedDate }}</ion-label>
      </ion-item>
      <ion-button class="ion-float-right borrowBtn" (click)="empPage()">
        Borrow</ion-button
      >
    </ion-list>
  </div>
  <ion-button
    *ngIf="currentBook.borrower === '' && currentBook.returnee === ''"
    class="ion-float-right borrowBtn"
    (click)="empPage()"
  >
    Borrow</ion-button
  >
</ion-content>
