.scanNowBtn {
  right: 10px;
  bottom: 10px;
}

.yellowBtn {
  --background: #ffc700;
  --color: #000000;
  font-weight: 900;
}
.header {
  background-color: #ffc700;
}
.toolBar {
  --background: #ffc700 !important;
}
.mayLib {
  color: #000000;
  font-weight: 900;
  align-self: center;
  font-size: 25px;
  margin-left: 3px;
}
.titleWrap {
  display: flex;
}
