<ion-header class="header">
  <ion-toolbar class="toolBar">
    <ion-title>
      <div class="titleWrap">
        <img class="headerImg" src="../../assets/img/mayLogo.png" />
        <span class="mayLib">MayLib</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionChange)="setFilteredItems(role)"
  ></ion-searchbar>
  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        Search By
      </ion-list-header>
      <ion-item>
        <ion-radio value="author" (click)="authorRadio()"></ion-radio>
        <ion-label>Author</ion-label>
        <ion-radio value="title" (click)="bookRadio()"></ion-radio>
        <ion-label>Book Name</ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-list>
    <ion-item
      *ngFor="let book of bookDetailsTemp; let i = index"
      (click)="showDetails(i)"
    >
      {{ book.title }} -- {{ book.author }}
    </ion-item>
  </ion-list>
</ion-content>
<ion-fab class="scanNowBtn" (click)="scanBook()">
  <ion-fab-button class="yellowBtn">
    <ion-icon name="qr-scanner"></ion-icon>
  </ion-fab-button>
</ion-fab>
