<ion-header class="header">
  <ion-toolbar class="toolBar">
    <ion-title>
      <div class="titleWrap">
        <img class="headerImg" src="../../assets/img/mayLogo.png" />
        <span class="mayLib">MayLib</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="feedbackContainer">
    <a class="feedbackLink" (click)="loadFeedback()">Feedback</a>
  </div>
  <ion-list>
    <strong class="searchTitle">
      Search By:
    </strong>
    <ion-radio-group class="radioBtnGrp">
      <ion-radio
        value="title"
        (ionSelect)="roleChange('title')"
        class="radioBtn"
        checked
      ></ion-radio>
      <ion-label class="radioBtnLabel">Book Name</ion-label>
      <ion-radio
        value="author"
        (ionSelect)="roleChange('author')"
        class="radioBtn"
      ></ion-radio>
      <ion-label>Author</ion-label>
    </ion-radio-group>
  </ion-list>
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionChange)="setFilteredItems(role)"
  ></ion-searchbar>

  <ion-list>
    <ion-item
      *ngFor="let book of bookDetailsTemp; let i = index"
      (click)="showDetails(i)"
      class="bookItem"
    >
      <div class="itemContainer">
        <span class="titleText padTop2">{{ book.title }}</span>
        <i class="authorText padTop2">-- {{ book.author }}</i>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
<ion-fab class="scanNowBtn" (click)="scanBook()">
  <ion-fab-button class="yellowBtn">
    <ion-icon name="qr-scanner"></ion-icon>
  </ion-fab-button>
</ion-fab>
